
<ul class="side-menu">
    <li>Dữ liệu</li>
    <li><a href="/hoatdong/l/du-lieu">Quản lý dữ liệu</a></li>
    <li>Cập nhật</li>
    <li><a href="/hoatdong/o/ban-to-chuc">Ban tổ chức</a></li>
    <li><a href="/hoatdong/o/chuong-trinh">Chương trình</a></li>
    <li><a href="/hoatdong/o/thanh-vien">Quản lý thành viên</a></li>
    <li><a href="/hoatdong/o/phan-xe">Phân xe</a></li>
</ul>
